@model IEnumerable<ReactApplication.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<div id="root" align="center"></div>

@section scripts{

    <script src="~/Scripts/react/dist/app.bundle.js"></script>

}


