@model IEnumerable<ReactApplication.Models.Store>

@{
    ViewBag.Title = "Index";
}


<div id="root3" align="center"></div>

@section scripts{

    <script src="~/Scripts/react/dist/app.bundle.js"></script>

}

