@model IEnumerable<ReactApplication.Models.Sale>

@{
    ViewBag.Title = "Index";
}

<div id="root4" align="center"></div>

@section scripts{

    <script src="~/Scripts/react/dist/app.bundle.js"></script>

}



